# Ambientes Virtuais
.reinf/
venv/
env/
.env_venv/

# Cache do Python (NUNCA subir)
env/
.env_venv/

# Cache do Python (NUNCA subir)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyd

# Configurações de IDEs
.idea/
.vscode/
*.iml

# Arquivos de log e SO
*.log
.DS_Store

# Variáveis de ambiente
.env

# Arquivos de log e SO
*.log
.DS_Store
Thumbs.db