# =========================
# 🔐 Variáveis de ambiente
# =========================
.env
.env.*
*.env
.env.local
.env.production
.env.development

# =========================
# 🔑 Chaves privadas
# =========================
*.pem
*.key
*.crt

# =========================
# 🐍 Ambientes virtuais
# =========================
.reinf/
venv/
env/
.env_venv/

# =========================
# 🧠 Cache Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🗄 Bancos locais
# =========================
*.sqlite
*.sqlite3
*.db

# =========================
# 🧪 Test / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# 🏗 Build
# =========================
build/
dist/
*.egg-info/

# =========================
# 💻 IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# 🗂 Sistema / Logs
# =========================
*.log
.DS_Store
Thumbs.db