# =========================
# 🔐 Variáveis de ambiente
# =========================
.env
.env.*
*.env

# =========================
# 🔑 Chaves privadas
# =========================
*.pem
*.key
*.crt

# =========================
# 🐍 Ambientes virtuais
# =========================
.reinf/
venv/
env/
.env_venv/

# =========================
# 🧠 Cache Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🏗 Build
# =========================
build/
dist/
*.egg-info/

# =========================
# 💻 IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# 🗂 Sistema / Logs
# =========================
*.log
.DS_Store
Thumbs.db